{% extends "layout.html" %}



{% block content %}

<div id="map"></div>

<div id="right-div" class="row">
  <div id="right-panel" class="col s12 m3">
    <div id="right-card" class="card-panel teal">
      <div>
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="#!">July 2013</a></li>
          <li><a href="#!">August 2013</a></li>
          <li><a href="#!">September 2013</a></li>
          <li><a href="#!">October 2013</a></li>
          <li><a href="#!">November 2013</a></li>
          <li><a href="#!">December 2013</a></li>
          <li><a href="#!">January 2014</a></li>
          <li><a href="#!">February 2014</a></li>
          <li><a href="#!">March 2014</a></li>
          <li><a href="#!">April 2014</a></li>
          <li><a href="#!">May 2014</a></li>
          <li><a href="#!">June 2014</a></li>
          <li><a href="#!">July 2014</a></li>
          <li><a href="#!">August 2014</a></li>
          <li><a href="#!">September 2014</a></li>
          <li><a href="#!">October 2014</a></li>
          <li><a href="#!">November 2014</a></li>
          <li><a href="#!">December 2014</a></li>
        </ul>
        <a id="data-information" class="btn dropdown-button" href="#!" data-activates="dropdown2"><span>Data Information</span><i class="mdi-navigation-arrow-drop-down right"></i></a>

        <table id="data-information-table" class="bordered">
        <thead>
          <tr>
              <th data-field="date">Date</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

        <a id="download-button" class="btn-floating btn-large waves-effect waves-light"><i class="mdi-file-file-download"></i></a>
    </div>
  </div>
</div>

{% endblock %}
