{% extends "layout.html" %}

{% block content %}

<div id="map"></div>

<div id="right-div" class="row">
  <div id="right-panel" class="col s12 m3">
    <div id="right-card" class="card-panel teal">
      <div>
        <h1>Data Information</h1>
        <select class="browser-default">
          <option value="" disabled selected>Choose Month-Year</option>
          <option value="07-2013">July 2013</option>
          <option value="08-2013">August 2013</option>
          <option value="09-2013">September 2013</option>
          <option value="10-2013">October 2013</option>
          <option value="11-2013">November 2013</option>
          <option value="12-2013">December 2013</option>
          <option value="01-2014">January 2014</option>
          <option value="02-2014">February 2014</option>
          <option value="03-2014">March 2014</option>
          <option value="04-2014">April 2014</option>
          <option value="05-2014">May 2014</option>
          <option value="06-2014">June 2014</option>
          <option value="07-2014">July 2014</option>
          <option value="08-2014">August 2014</option>
          <option value="09-2014">September 2014</option>
          <option value="10-2014">October 2014</option>
          <option value="11-2014">November 2014</option>
          <option value="12-2014">December 2014</option>
        </select>
      </div>
      <div id="card-info" class="white-text">I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
      </div>
    </div>
  </div>
</div>

{% endblock %}
